<div *ngIf="movie$ | async as movie">
    <div class="card">
      <img [src]="movie.image" class="card-img-top" [alt]="movie.movie" />
      <div class="card-body">
        <h5 class="card-title">{{ movie.movie }}</h5>
        <p class="card-text">Rating: {{ movie.rating }}</p>
        <a [href]="movie.imdb_url" class="btn btn-primary" target="_blank"
          >View on IMDb</a
        >
        <div class="mt-3">
          <label for="rating">Update Rating:</label>
          <input
            #ratingInput
            id="rating"
            type="number"
            [(ngModel)]="movie.rating"
          />
          <button
            class="btn btn-success"
            (click)="updateRating(movie, ratingInput)"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>